@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body{
    margin: 0;
    font-family: 'poppins', sans-serif;
}
.header{
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.wrap{
    width: 1170px;
    margin: 0 auto;
}
.button{
    padding: 16px 40px;
    display: inline-block;
    background: #2500f9;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
}
.header__wrap{
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: space-between;
}
.menu__list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.logo{
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    color: #242f51;
}
.logo__orange{
    color: #fcae61;
}
.menu__item{
    margin-left: 35px;
}
.menu__link{
    text-decoration: none;
    color: #242f51;
    font-weight: 16px;
}
.menu__button{
    color: #fff;
    margin-left: 55px;
}

.welcome{
    background: url(img/welcome.png) bottom center no-repeat;
    background-color: #fdfdfe;
    background-size: 100%;
    padding-top: 150px;
    min-height: 100vh;
    box-sizing: border-box;
}
.welcome__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome__info{
    display: flex;
    flex-direction: column;
    width: 530px;
    align-items: flex-start;
}
.awards{
    display: flex;
    background: #e2eaed;
    align-items: center;
    border-radius: 40px;
    padding-right: 50px;
}
.awards__icon{
    display: flex;
    background: #feaa25;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.awards__text{
    background: #e2eaed;
    display: flex;
    color: #242f51;
    font-size: 18px;
    align-items: center;
    border-radius: 10px;
}
.welcome__title{
    margin: 0;
    color: #242f51;
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
}
.welcome__text{
    margin: 0;
    color: #616368;
    font-size: 18px;
    line-height: 28px;
}
.welcome__buttons{
    margin-top: 30px;
}
.welcome__button{
    margin-right: 25px;
}
.welcome__link{
text-decoration: none;
color: #2500f9;
}
.welcome__img{
    width: 450px;
    height: 800px;
    object-fit: contain;
}